<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} Added CSS File {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{{title}}</title>
</head>
<body>
    <h2>Start Learning {{cname}}</h2>
    <img src="{% static 'images/pic1.jpg' %}" alt="Pic1">
    {% comment %} or {% endcomment %}
    <img src="{% get_static_prefix %}images/pic1.jpg" alt="Pic1">
    <hr>
    
    {% comment %} Added JavaScript File {% endcomment %}
    <form action="">
        <input type="button" value="Click Me" onclick="display()">
    </form>
    <script src="{% static 'js/all.js' %}"></script>
</body>
</html>