{% extends 'core/base.html' %}

{% block title %} {{title}} {% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do you have any question? Please don't hesitate to contact. I will come back to you within a matter of hours to help you.
        </p>
        <div class="col-sm-9 mb-5">
            <form>
                <div class="row mb-3 g-4 align-items-center">
                    <div class="form-group col-md-6">
                        <label for="inputName" class="form-label">Your Name</label>
                        <input type="text" id="inputName" class="form-control" aria-describedby="inputName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail" class="form-label">Your Email *</label>
                        <input type="email" id="inputEmail" class="form-control" aria-describedby="inputEmail" required>
                    </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputSubject" class="form-label">Your Subject</label>
                  <input type="text" class="form-control" id="exampleInputSubject" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="floatingTextarea" class="form-label">Your message *</label>
                  <div class="form-floating">
                    <textarea class="form-control" id="floatingTextarea" style="height: 60px" required></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fa-solid fa-location-dot fa-2x i-color"></i>
                    <p>Kolkata, West Bengal, India</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone mt-4 fa-2x i-color"></i>
                    <p>+91 90000000</p>
                </li>
                <li>
                    <i class="fa-solid fa-envelope mt-4 fa-2x i-color"></i>
                    <p>contact@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="#" target="_blank" class="me-3"><i class="fa-brands fa-twitter i-color"></i></a>
    <a href="#" target="_blank" class="me-3"><i class="fa-brands fa-facebook i-color"></i></a>
    <a href="#" target="_blank" class="me-3"><i class="fa-brands fa-instagram i-color"></i></a>
    <a href="#" target="_blank" class="me-3"><i class="fa-brands fa-dribbble i-color"></i></a>
</div>
{% endblock content %}

