<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <style>
        table, th, tr, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <h3>Post All Data</h3>
            <th>Post Title</th>
            <th>Post Category</th>
            <th>Published Date</th>
            <th>Created By</th>
            {% for dt in data1 %}
                <tr>
                    <td>{{dt.post_title}}</td>
                    <td>{{dt.post_cat}}</td>
                    <td>{{dt.post_publish_date}}</td>
                    <td>{{dt.user}}</td>
                </tr>
            {% endfor %}
    </table>

    <table>
        <h3>Post Filtered By Published Date</h3>
            <th>Post Title</th>
            <th>Post Category</th>
            <th>Published Date</th>
            <th>Created By</th>
            {% for dt in data2 %}
                <tr>
                    <td>{{dt.post_title}}</td>
                    <td>{{dt.post_cat}}</td>
                    <td>{{dt.post_publish_date}}</td>
                    <td>{{dt.user}}</td>
                </tr>
            {% endfor %}
    </table>

    <table>
        <h3>Post Filtered By Username</h3>
            <th>Post Title</th>
            <th>Post Category</th>
            <th>Published Date</th>
            <th>Created By</th>
            {% for dt in data3 %}
                <tr>
                    <td>{{dt.post_title}}</td>
                    <td>{{dt.post_cat}}</td>
                    <td>{{dt.post_publish_date}}</td>
                    <td>{{dt.user}}</td>
                </tr>
            {% endfor %}
    </table>

</body>
</html>