<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song</title>
    <style>
        table, th, tr, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <h3>Song All Data</h3>
            <th>Song Name</th>
            <th>Duration</th>
            <th>Writer</th>
            {% for dt in data1 %}
                <tr>
                    <td>{{dt.song_name}}</td>
                    <td>{{dt.song_duration}}</td>
                    <td>{{dt.written_by}}</td>
                </tr>
            {% endfor %}
    </table>

    <table>
        <h3>Song Filtered By Song Duration</h3>
            <th>Song Name</th>
            <th>Duration</th>
            <th>Writer</th>
            {% for dt in data2 %}
                <tr>
                    <td>{{dt.song_name}}</td>
                    <td>{{dt.song_duration}}</td>
                    <td>{{dt.written_by}}</td>
                </tr>
            {% endfor %}
    </table>

    <table>
        <h3>Song Filtered By Username</h3>
            <th>Song Name</th>
            <th>Duration</th>
            <th>Writer</th>
            {% for dt in data3 %}
                <tr>
                    <td>{{dt.song_name}}</td>
                    <td>{{dt.song_duration}}</td>
                    <td>{{dt.written_by}}</td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>