<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>

      {% comment %} url Tag {% endcomment %}
      <li><a href="{% url 'aboutus' %}">About</a></li>

      <li><a href="/cor/django">Django Course</a></li>

      {% comment %} url Tag {% endcomment %}
      <li><a href="{% url 'courseone' %}">Django Course</a></li>
      
      {% comment %} or {% endcomment %}
      {% url 'courseone' as co %}
      <li><a href="{{co}}">Django Course</a></li>
    </ul>
  </nav>