{% extends 'blog/base.html' %}
{% load static %}

{% block title %}<title>About Page</title>{% endblock title %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="my-5">About Page</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ratione deserunt veniam repudiandae quibusdam itaque eveniet magnam fugit ex! Molestias expedita ad accusamus exercitationem. Consectetur natus quisquam earum beatae eum?</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolorem nihil beatae cumque reprehenderit facilis fugiat ipsam a officia nam quae earum fugit iste nemo, sint natus. Alias non nulla veritatis ullam earum esse voluptate. Iusto consequatur mollitia in, placeat odio, veritatis, iure qui magnam officiis reiciendis deleniti sequi cum.
        </p>
    </div>
{% endblock content %}

