{% extends 'blog/base.html' %}
{% load static %}

{% block title %}<title>Login Page</title>{% endblock title %}

{% block content %}
    <div class="col-sm-4 rounded shadow border border-1 mt-5">
        <h3 class="my-3 text-center">Login Page</h3>
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {%endif %}>
                    {{message}}
                </p>
            {% endfor %}
        {% endif %}
        <form action="" method="POST" novalidate class="">
            {% csrf_token %}
            {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                </div>
            {% endfor %}
            <input type="submit" value="Login" class="btn btn-primary my-3 text-center w-100">

            {% if form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
            {% endif %}
        </form>
    </div>
{% endblock content %}

