<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Added CSS File {% endcomment %}
    <link rel="stylesheet" href="{% static 'course/css/style.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <h2>Start Learning {{cname}}</h2>
    <img src="{% static 'course/images/pic1.jpg' %}" alt="pic1">
    {% comment %} or {% endcomment %}
    <img src="{% get_static_prefix %}course/images/pic1.jpg" alt="pic1">
    <hr>

    {% comment %} Added JS File {% endcomment %}
    <form action="">
        <input type="button" value="ClickMe" onclick='display()'>
    </form>
    <script src="{% static 'course/js/all.js' %}"></script>
</body>
</html>